body {
    min-height: 100vh;
    margin-top: 0;
}

#profile-container {
    margin-top: 150px;
}

#profile-pic {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--primary) ;
}

#mobile-profile-pic {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--primary) ;
}

.pic {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {

    #profile-container {
        margin-top: 100px;
    }
}

.btn {
    background-color: var(--primary) !important;
}

#readMore {
    display: none;
}

#goBack {
    background-color: #E894C8;
}

#readMoreWrapper {
    width: 100% !important;
}


@media (min-width: 992px) {
    .w-lg-40 {
        width: 40% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }
}



