.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.navbar {
    z-index: 1000;
}

body {
    min-height: 100vh;
    margin-top: 0;
}

.navbar {
    background-color: chartreuse;
}

#profile-container {
    margin-top: 150px;
}

#profile-pic {
    width: 90%;
    aspect-ratio: 1 / 1;
}

.pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



