:root {
    --gradient-color-1: #fbc2eb; /* Soft pink */
    --gradient-color-2: #a6c1ee; /* Light blue */
    --gradient-color-3: #b1f4cf; /* Mint green */
    --primary: linear-gradient(135deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.navbar {
    z-index: 1000;
}

body {
    height: 100vh;
    width: 100vw;
    background: #2E2E2E; !important;
}

.nav-link{
    opacity: 1 !important;
    color: black !important;
}

.hover-grow {
    transition: transform 0.3s ease-in-out;
}

.hover-grow:hover {

    transform: scale(1.2);
}

.purr {
    background: var(--primary) !important;
}

.purr-button-green {
    background: var(--gradient-color-3);
}

.purr-button-green:hover {
    background: var(--gradient-color-3);
}

.purr-button-violet {
    background: var(--gradient-color-1);
}

.purr-button-violet:hover {
    background: var(--gradient-color-1);
}

.field-bg {
    background-color: white !important;
}

.purr-container {
    border-radius: 20px !important; /* Optional: for rounded corners */
    background-image: var(--primary), var(--primary) !important; /* Double background */
    box-shadow: 1px 1px 1px 1px white;
}

@media (min-width: 992px) {

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}